body {
    font-family: arial, sans-serif;
    background-color: #f4f7f6;
    margin: 0;
    color: #333;
}

.auth-wrapper {
    background: #ffffff;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.project-title {
    color: #4CAF50;
    margin-bottom: 30px;
    font-size: 2.2em;
}

.formHeader {
    color: #333;
    margin-top: 0;
    margin-bottom: 25px;
    font-size: 1.5em;
    border-bottom: 2px solid #eee;
    padding-bottom: 10px;
}

.inputGroup {
    text-align: left;
    margin-bottom: 20px;
}

.inputGroup label,
.inputGroup select,
.inputGroup select option {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

.inputGroup input,
.inputGroup select,
.inputGroup select option {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
}

.buttons button {
    width: 100%;
    padding: 12px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 1em;
    cursor: pointer;
    margin-bottom: 15px;
}

.toggle-text {
    font-weight: bold;
}

.toggle-text a {
    cursor: pointer;
}

.toggle-text a:hover {
    text-decoration: underline;
}

.hidden {
    display: none;
}

.success-msg {
    padding: 10px;
    margin-bottom: 20px;
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
    border-radius: 5px;
}

.error-msg {
    padding: 10px;
    margin-bottom: 20px;
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
    border-radius: 5px;
}