body {
    font-family: arial, sans-serif;
    margin: 0;
    line-height: 1.6;
    color: #333;
    background-color: #f4f7f6;
}

.header {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.headerText {
    font-size: 26px;
    font-weight: bold;
    text-decoration: none;
    color: #4CAF50;
}

.navigationBar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    gap: 15px;
}

.navigationBarLink {
    padding: 5px 10px;
    font-weight: bold;
    text-decoration: none;
    color: #4CAF50;
}

.navigationBarLink:hover {
    border-radius: 6px;
    transition: all 0.2s;
    color: white;
    background-color: #4CAF50;
}

.logOut-btn {
    padding: 5px 10px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 6px;
    color: white;
    background-color: #f44336;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.addProduct {
    min-width: 500px;
    margin: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    border: none;
    border-radius: 15px;
    background-color: #fff;
}

.formHeader {
    text-align: center;
    color: #4CAF50;
}

.form-group {
    width: 100%;
    margin: 10px 0;
    display: flex;
    gap: 10px;
}

.form-group label {
    width: fit-content;
    text-align: center;
    font-weight: bold;
}

.form-group input {
    flex: 1;
    padding: 5px 10px;
    border: none;
    border-radius: 15px;
    background-color: #f4f7f6;
}

.form-btns {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.form-btn {
    padding: 5px 10px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    transition: all 0.2s;
    color: white;
    background-color: #4CAF50;
}

.success-msg {
    padding: 10px;
    margin-bottom: 20px;
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
    border-radius: 5px;
}

.error-msg {
    padding: 10px;
    margin-bottom: 20px;
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
    border-radius: 5px;
}