body {
    font-family: arial, sans-serif;
    background-color: #f4f7f6;
    margin: 0;
    color: #333;
    line-height: 1.6;
}

.header {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.headerText {
    font-size: 26px;
    font-weight: bold;
    text-decoration: none;
    color: #4CAF50;
}

.navigationBar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    gap: 15px;
}

.navigationBarLink {
    padding: 5px 10px;
    font-weight: bold;
    text-decoration: none;
    color: #4CAF50;
}

.navigationBarLink:hover {
    border-radius: 6px;
    transition: all 0.2s;
    color: white;
    background-color: #4CAF50;
}

.logOut-btn {
    padding: 5px 10px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 6px;
    color: white;
    background-color: #f44336;
}

.products {
    margin: 20px 0;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    background: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product-card {
    margin: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: none;
    border-radius: 15px;
    background-color: #f4f4f4;
}

.product-image-container img {
    width: 100%;
    border: none;
    border-radius: 15px;
}

.product-info p {
    text-align: center;
    font-weight: bold;
}

.product-info h3 {
    text-align: center;
}

.deleteProduct {
    display: flex;
    justify-content: space-between;
}

.edit-btn {
    padding: 5px 7px;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    color: white;
    background-color: #4CAF50;
    cursor: pointer;
    transition: all 0.3s;
}

.delete-btn {
    padding: 5px 7px;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    color: white;
    background-color: #f44336;
    cursor: pointer;
    transition: all 0.3s;
}

.edit-btn:hover,
.delete-btn:hover {
    transform: translateX(2px);
    transform: translateY(-2px);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
}

.success-msg {
    padding: 10px;
    margin-bottom: 20px;
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
    border-radius: 5px;
}

.error-msg {
    padding: 10px;
    margin-bottom: 20px;
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
    border-radius: 5px;
}

.footer {
    padding: 20px;
    border: none;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color: #4CAF50;
}

.footer p {
    margin: 0;
    font-weight: bold;
    text-align: center;
    color: white;
}